*{

}
.debug .banner{
    height: 500px;
}
.debug .portfolio{
    height: 300px;
}
.debug .about{
    height: 500px;
}
svg{
    width: 100px;
}
.debug [class^="col-"]{
    height: 50px;
    background-color: aqua;
}
footer{
    height: 100px;
}
footer .container-fluid{
    height: 200px;
    width: 100%;
}
.banner_bottom{
    height: 300px;
}
