*{

}
:root {
    --my-primary: #1abc9c;
    --my-medium: #3a546d;
    --my-dark: #2c3e50;
    --my-card-house:#ba4b63;
    --my-card-cake:#1ea4b6;
    --my-card-circus:#140f0f;
    --my-card-play:#1c83c1;
    --my-card-secure:#0e38b5;
    --my-card-submarine:#ccb2a3;

  }
.debug .banner{
    height: 500px;
}
.debug .portfolio{
    height: 300px;
}
.debug .about{
    height: 500px;
}
svg{
    width: 100px;
}
.debug [class^="col-"]{
    height: 50px;
    background-color: aqua;
}
footer{
    height: 100px;
}
footer .container-fluid{
    height: 200px;
    width: 100%;
}
.banner_bottom{
    height: 300px;
}
.stick{
background-color: white;
width: 70px;    
height: 3px;
}
.stick_black{
    background-color: rgb(0, 0, 0);
    width: 70px;    
    height: 3px;
    }
.my_ico{
    border: solid 1px;
    padding: 0.9rem 1.4rem;
    border-radius: 50%;
}
.ico_container{
    gap: 1rem;
}
.banner_bottom a{
    text-decoration: none;

}